@font-face {
  font-family: montserrat;
  src: url(./Montserrat-VariableFont_wght.ttf);
}

/* ================= HEADER ================= */

header {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
}

.fake-header {
  width: 100%;
  height: 10vh;
}

/* ================= HEADER TOP ================= */

.header-top {
  width: 100%;
  height: 10vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-mobile-img {
  width: 20%;
  height: 100%;
}

.header-mobile-img img {
  display: none;
}

.header-buttons {
  display: flex;
  align-items: center;
}

/* ================= BUTTONS ================= */

.header-orange-btn {
  background: linear-gradient(90deg, #e64126, #f39f34);
  color: #fff;
  border: none;
  padding: 10px 30px;
  margin-right: 10px;
  border-radius: 0 0 25px 25px;
  font-size: 18px;
  width: 180px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.header-orange-btn:hover {
  transform: scale(1.05);
}

.dropdown-btn::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.header-green-btn {
  background-color: #8bc34a;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 0 0 25px 25px;
  font-size: 18px;
  width: 180px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.header-green-btn:hover {
  transform: scale(1.05);
}

/* ================= HEADER BOTTOM ================= */

.header-bottom {
  width: 100%;
  height: 10vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bottom-logo {
  position: absolute;
  left: 0;
  top: -60px;
  width: 390px;
  background: #fff;
  padding: 0 35px 25px;
  border-radius: 0 0 80px 0;
}

.header-bottom-logo img {
  width: 100%;
  height: auto;
}

/* ================= NAV ================= */

nav ul {
  position: absolute;
  right: 0;
  top: -25px;
  width: 72%;
  min-height: 7vh;
  background: #fff;
  border-radius: 0 0 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 35px;
}

.main-menu li {
  list-style: none;
  margin: 0 20px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  font-family: montserrat, sans-serif;
}

/* ================= HAMBURGER ================= */

i.bars {
  display: none;
  cursor: pointer;
  font-size: 1.8rem;
  color: #ff5100;
}

/* ================= SIDE MENU (SHUTTER MENU) ================= */

.side-menu {
  position: fixed;
  top: 20vh;
  left: 0;
  width: 100%;

  max-height: 0;
  opacity: 0;

  background-color: #fff;
  border-radius: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  overflow: hidden;
  transition:
    max-height 0.45s ease,
    opacity 0.3s ease;
  pointer-events: none;
  z-index: 99;
}

.side-menu li {
  list-style: none;
  padding: 10px;
}

.side-menu li a {
  text-decoration: none;
  color: #111;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}

.side-menu.active {
  max-height: 50vh;
  opacity: 1;
  pointer-events: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 4px;
  top: 100%;
  left: 0;
}

.dropdown-content a {
  color: #333;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  transition: background 0.3s;
  border-bottom: 1px solid #f39f34;
}

.dropdown-content a:hover {
  background: linear-gradient(90deg, #e64126, #f39f34);
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sub-dropdown {
  position: relative;
}

.sub-dropdown-content {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #ffffff;
  min-width: 200px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 1001;
}

.sub-dropdown:hover .sub-dropdown-content {
  display: block;
}

.sub-dropdown-content a {
  border-left: 2px solid transparent;
}

.sub-dropdown-content a:hover {
  border-left: 2px solid #ff6600;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1024px) {
  header {
    flex-direction: column-reverse;
    background-color: #fff;
    padding: 10px 15px;
  }

  .header-top {
    justify-content: center;
    align-items: center;
  }

  .header-mobile-img {
    display: none;
  }

  .header-bottom-logo {
    position: static;
    width: 25%;
    background: transparent;
    padding: 0;
  }

  i.bars {
    display: block;
  }

  .main-menu {
    position: static;
    width: 100%;
    padding: 0;
  }

  .main-menu .hide-menu {
    display: none;
  }

  .header-orange-btn {
    width: auto;
    font-size: 16px;
    padding: 7px 15px;
    border-radius: 15px;
  }

  .header-green-btn {
    width: auto;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 15px;
  }

  .side-menu {
    display: flex;
  }
}

@media (max-width: 768px) {
  header {
    height: 25vh;
    justify-content: space-between;
  }

  .fake-header {
    height: 25vh;
  }

  .header-top {
    height: auto;
  }

  .header-buttons {
    height: 100%;
    flex-wrap: wrap;
    gap: 5px;
  }

  .header-bottom {
    align-items: flex-start;
  }

  nav ul {
    align-items: flex-start;
  }

  .header-bottom-logo {
    width: 80%;
    height: 60px;
  }

  .header-bottom-logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: left;
  }

  .main-menu {
    width: auto;
  }

  .main-menu li {
    margin: 0;
  }

  .menu-btn {
    margin: 0;
  }

  .side-menu {
    top: 25vh;
  }
}
