* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

main {
  min-height: 100vh;
  overflow-y: auto; 
  overflow-x: hidden;
}
