@font-face {
  font-family: montserrat;
  src: url(./Montserrat-VariableFont_wght.ttf);
}

.video-section {
  height: 100vh;
}

.video-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 150px;
  position: relative;
}

.video-text {
  position: absolute;
  top: 70%;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 45px;
  border-radius: 0 100px 100px 0;
}

.video-text h1 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 0;
  margin-left: 50px;
  font-weight: 500;
  text-transform: uppercase;
}

.video-text p {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  margin-left: 50px;
  margin-bottom: 1rem;
  line-height: 2rem;
  max-width: 600px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .video-text {
    width: 90%;
    padding: 15px 25px;
  }

  .video-text h1 {
    font-size: 1.8rem;
    margin-left: 20px;
  }

  .video-text p {
    font-size: 16px;
    margin-left: 20px;
    line-height: 1.5rem;
  }
}
