.cfs-section {
  padding: 80px 5%;
  text-align: center;
}

.cfs-title {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title-line {
  width: 220px;
  height: 2px;
  background: #333;
  margin: 0 auto 60px auto;
}

.cfs-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.cfs-card {
  padding: 40px 30px;
  border-radius: 25px;
  width: 30%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

.cfs-card img {
  width: 70px;
  margin-bottom: 20px;
}

.cfs-card p {
  font-size: 18px;
  line-height: 1.7;
  font-weight: 500;
  color: #222;
}

.cfs-card:hover {
  transform: translateY(-8px);
}

.warehouse-section {
  padding: 0 3% 80px;
}

.warehouse-wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
}

/* LEFT IMAGE */
.warehouse-img {
  width: 60%;
}

.warehouse-img img {
  width: 100%;
  border-radius: 60px;
  display: block;
}

/* RIGHT SIDE */
.warehouse-content {
  width: 40%;
}

.warehouse-title {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 10px;
}

.title-underline {
  width: 400px;
  height: 2px;
  background: #222;
  margin-bottom: 40px;
}

/* CARD STYLE */
.warehouse-card {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 25px 35px;
  border-radius: 20px;
  margin-bottom: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

.warehouse-card img {
  width: 55px;
}

.warehouse-card p {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: #222;
}

.warehouse-card:hover {
  transform: translateY(-6px);
}

@media (max-width: 992px) {
  .cfs-card {
    width: 45%;
  }

  .warehouse-wrapper {
    flex-direction: column;
  }

  .warehouse-img,
  .warehouse-content {
    width: 100%;
  }

  .warehouse-img img {
    border-radius: 30px;
  }

  .warehouse-title {
    font-size: 28px;
    text-align: center;
  }

  .title-underline {
    width: 200px;
    margin: 0 auto 40px auto;
  }

  .warehouse-card {
    padding: 20px;
  }

  .warehouse-card p {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
    .warehouse-section {
      padding: 0 5% 40px;
    }
  .cfs-section {
    padding: 40px 5%;
  }
  .cfs-title {
    font-size: 24px;
  }

  .title-line {
    width: 120px;
    margin: 0 auto 40px auto;
  }

  .cfs-cards {
    gap: 20px;
  }

  .cfs-card {
    width: 100%;
  }

  .cfs-card p {
    font-size: 15px;
  }

  .warehouse-wrapper {
    gap: 20px;
  }
}
