.terminal-section {
  position: relative;
  margin: 24px 33px 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 8px;
  text-align: center;
}

.terminal-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform: translateX(20px);
  position: relative;
  margin: 48px 0;
}

.terminal-img {
  width: 50%;
  z-index: 1;
}

.terminal-box {
  width: 50%;
  border-radius: 30px 60px 60px 30px;
  background: linear-gradient(275deg, #ff8a00, #ffb170);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: -webkit-fill-available;
  transform: translateX(-45px);
}

.content-inner h2 {
  font-size: 36px;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 8px;
  text-align: center;
  border-bottom: 2px solid;
  width: fit-content;
  color: #000000;
}

.content-inner ul {
  font-size: 18px;
  line-height: 2;
  font-weight: 600;
  color: #000;
}

.big-text {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -18px;
  z-index: 2;
  font-size: 86px;
  line-height: 95px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

@media (max-width: 992px) {
  .terminal-row {
    flex-direction: column;
    transform: none;
  }

  .terminal-img,
  .terminal-box {
    width: 100%;
  }

  .terminal-box {
    transform: none;
    margin-top: 20px;
    border-radius: 30px;
    padding: 30px;
  }

  .content-inner h2 {
    font-size: 28px;
  }

  .content-inner ul {
    font-size: 16px;
  }

  .big-text {
    display: none;
  }
}

@media (max-width: 576px) {
  .terminal-section {
    margin: 20px;
  }

  .section-title {
    font-size: 22px;
  }

  .terminal-row {
    margin: 20px 0;
  }

  .terminal-box {
    padding: 20px;
  }

  .content-inner h2 {
    font-size: 22px;
  }

  .content-inner ul {
    font-size: 14px;
    line-height: 1.6;
  }

  .big-text {
    font-size: 32px;
    line-height: 1.1;
    bottom: -5px;
  }
}
